.App {
    text-align: center;
  }
  
  .carousel-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .job-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
  }
  
  .job-item h3 {
    color: #2c3e50;
  }
  
  .job-item p {
    color: #34495e;
  }
  
  .map {
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
  